dash==2.4.1
dash-auth==1.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
express==0.1.5
Flask-Compress==1.12
gitdb==4.0.9
GitPython==3.1.27
inline==0.0.1
Jinja2==3.1.2
MarkupSafe==2.1.1
matplotlib==3.5.2
mypy-extensions==0.4.3
numpy==1.22.4
pandas==1.4.2
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==9.0.1
plotly==5.8.2
plotly-express==0.4.1
plotly-geo==1.0.0
ply==3.11
protobuf==3.20.1
pyarrow==8.0.0
pycosat==0.6.3
pycountry==22.3.5
pycurl==7.44.1
pydeck==0.7.1
pyls-spyder==0.4.0
Pympler==1.0.1
PyMySQL==1.0.2
pytest==7.1.2
python-dateutil==2.8.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
PyYAML==6.0
rich==12.4.1
scikit-image==0.18.3
seaborn==0.11.2
streamlit==1.10.0
yfinance==0.1.70
